{% extends "base.html" %}

{% block nonexistant %}
<p> This is the body.</p>

<ol>
</ol>

Add a book:
<form name="newbook" action="/" method="post">
	<input type="text" name="book_name" id="text" />
	<input type="submit" value="submit" />
</form>

<div class="half-width center center-block">
  <h1>Rate books <span class="amp">&amp;</span> get book recommendations.</h1>
  <p class="wide-margin"><a class="fancy-button" href="login">Sign in with Google.</a></p>
</div>

{% end %}

{% block content %}
<div class="home">
  <h1>Enter a book you love:</h1>
  <form action="">
    <input type="text"/>
  </form>
</div>
{% end %}
