{% extends "base.html" %}

{% block nonexistant %}
<p> This is the body.</p>

<ol>
{% for book in all_books %}
	<li> {{ book.name }} </li>
{% end %}
</ol>

Add a book:
<form name="newbook" action="/" method="post">
	<input type="text" name="book_name" id="text" />
	<input type="submit" value="submit" />
</form>

{% end %}

{% block content %}
<div id="content" class="pop-out">
	<div class="wrapper home">
		<h1>Rate books <span class="amp">&amp;</span> get book recommendations.</h1>
		<form method="post" action="signup/" name="new_user_form">
			<!-- <p>Bookfish makes it that easy.</p> -->
			<p> <label for="username">Name:</label> <input id="username" class="in-form">	</p>
			<p> <label for="password">Password:</label> <input type="password" class="in-form" id="password"> </p>
			<p class="wide-margin"><a class="fancy-button rounded-corners half-width center-block" href="#" onclick="document.new_user_form.submit()">Get started!</a></p>
		</form>
	</div>
</div>
{% end %}
