{% extends "base.html" %}

{% block nonexistant %}
<p> This is the body.</p>

<ol>
</ol>

Add a book:
<form name="newbook" action="/" method="post">
	<input type="text" name="book_name" id="text" />
	<input type="submit" value="submit" />
</form>

{% end %}

{% block content %}
<div id="content" class="pop-out">
	<div class="wrapper home">
		<h1>Rate books <span class="amp">&amp;</span> get book recommendations.</h1>
    <p class="wide-margin"><a class="fancy-button rounded-corners half-width center-block" href="login">Sign in with Google.</a></p>
	</div>
</div>
{% end %}
