<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bookfish</title>
	<link rel="stylesheet" href="css/page.css" type="text/css" media="screen"/>
	<meta charset="utf-8"/>
</head>
<body>
	<div id="nav">
		<div class="wrapper clearfix">
			<div class="logo">Bookfish</div>
			<ul class="nav-list">
				<li><strong>Home</strong></li>
				<li><a class="rounded-corners" href="/fishing">Your recommendations</a></li>
				<li><a class="rounded-corners" href="/top-10">Top 10 books</a></li>
				<li><a class="rounded-corners" href="/login">Log in</a></li>
				<li><a class="rounded-corners" href="/logout">Log out?</a></li>
				<li>Hello, David.</li>
			</ul>
		</div>
	</div>
	<div id="content" class="pop-out">
		<div class="wrapper home">
			<h1>Rate books <span class="amp">&amp;</span> get book recommendations.</h1>
			<p>Bookfish makes it that easy.</p>
			<p class="wide-margin"><a class="fancy-button rounded-corners half-width center-block" href="signup/">Get started!</a></p>
		</div>
	</div>
	<div id="footer">
		<div class="wrapper thirds clearfix">
			<div class="third">
				<h4>Stuff</h4>
				<ul>
					<li>Recent history</li>
					<li>Similar items</li>
					<li>"Get to know us" == PR/jobs?</li>
				</ul>
			</div>
			<div class="third">
				<h4>Stuff</h4>
				<ul>
					<li>Recent history</li>
					<li>Similar items</li>
					<li>"Get to know us" == PR/jobs?</li>
				</ul>
			</div>
			<div class="third last">
				<h4>Stuff</h4>
				<ul>
					<li>Recent history</li>
					<li>Similar items</li>
					<li>"Get to know us" == PR/jobs?</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>